
$fa-font-path:        "../node_modules/font-awesome/fonts";
@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot')
  url('#{$fa-font-path}/fontawesome-webfont.woff2') format('woff2'),
  url('#{$fa-font-path}/fontawesome-webfont.woff') format('woff');
  //url('#{$fa-font-path}/fontawesome-webfont.ttf') format('truetype'),
  //url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  //  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
@import '~font-awesome/css/font-awesome.css';

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";

.rocket {

  @import 'font-awesome/scss/_variables.scss';
  @import 'font-awesome/scss/_icons.scss';


  @import "bulma/sass/components/_all.sass";
  @import "bulma/sass/elements/_all.sass";
  @import "bulma/sass/grid/_all.sass";
  @import "bulma/sass/layout/_all.sass";

  //@import "bulma/bulma.sass";
  @import "bulma-extensions/bulma-switch/switch.sass";
  @import "bulma-steps-component/bulma-steps.sass";
  @import "bulma-divider/divider.sass";

}
